* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*End of CSS reset*/

/******Skin variables*******/

:root {
  --primary-color-skin1: #c1e7d2;
  --secondary-color-skin1: #ab99fa;

  --primary-color-skin2: #bdbdbd;
  --secondary-color-skin2: #893aa8;
}

/**************************/

body {
  width: 100%;
  height: 100%;
  line-height: 1.6;
  font-family: "Russo One", sans-serif;
  color: #757973ee;
}

.background {
  position: relative;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("1767974.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -100;
}

a[href] {
  text-decoration: underline;
}

a[href]:hover {
  color: #ff6600;
}

a[id] {
  font-family: monospace;
  font-weight: bold;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  background-color: #99ff00;
  color: rgb(32, 31, 29);
  z-index: 999;
  filter: invert(100%);
}

nav a {
  margin-right: 40px;
  line-height: 1.2;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #ff6600;
}

title {
  font-family: "Russo One", sans-serif;
}


/********Skin selector**********/

/* #skin1, #skin2 {
  display: none;
}  

.skin-selector label {
  position: fixed;
  top: 50px;
  width: 10%;
  text-align: center;
  right: 10px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eff3f8;
  z-index: 1000; 
}

.skin-selector label:hover {
  background-color: #e0e0e0;
}

#skin1:checked + label {
  background-color: #c1e7d2; 
}

#skin2:checked + label {
  background-color: #bdbdbd;
}

 #revert:checked + label {
  background-color: #ffe0b2; 
} */


/********Skin selector logic**********/
#skin1:target~form {
  background-color: var(--primary-color-skin1);
  color: var(--secondary-color-skin1);
}

#skin1:target~nav,
#skin1:target~footer {
  background-color: var(--secondary-color-skin1);
}

#skin2:target~form {
  background-color: var(--primary-color-skin2);
  color: var(--secondary-color-skin2);
}

#skin2:target~nav,
#skin2:target~footer {
  background-color: var(--secondary-color-skin2);
}

#accessible:target~nav,
#accessible:target~nav *,
#accessible:target~main,
#accessible:target~main *,
#accessible:target~form,
#accessible:target~form *,
#accessible:target~footer,
#accessible:target~footer *,
#accessible:target~div,
#accessible:target~div * {
  background-color: #333333;
  color:  #F5F5F5;
}

/* #revert:checked ~ form {
  background-color: initial;
  color: initial; 
}

#revert:checked ~ nav,
#revert:checked ~ footer {
  background-color: initial;
} */

/***********************************************/

input#searchBox {
  margin-top: calc(2em + 32px);
  border: 1px solid #000000;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 14px;
  background-color: #ffffff;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.highlight {
  background-color: yellow;
}

div {
  padding: 12px;
}

div#intro {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  white-space: normal;
  text-align: justify;
  background: linear-gradient(to bottom,
      #000000 0%,
      #333444 50%,
      #111711 85%,
      transparent 100%);
}

div.grid-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 5%;
  margin: 0 auto;
  padding: 0 40px;
  justify-content: space-evenly;
  z-index: 10;
}

div.box {
  padding: 20px 0;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

div.box img {
  min-width: 200px;
  max-width: calc(100% - 250px);
  display: block;
  margin: auto;
}

div#author {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 20px auto;
  border-radius: 5px;
  background: linear-gradient(to right,
      #000000 0%,
      #333444 50%,
      #000000 100%);
}

div#author p {
  margin-bottom: 0;
}


div#author-info p {
  margin: 0;
}

h1,
h2 {
  margin: auto;
  line-height: 1.25;
  font-family: "Space Grotesk", sans-serif;
  font-size: 25px;
  color: #99ff00;
}

h1 {
  margin-bottom: 15px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Russo One", sans-serif;
  font-size: 3em;
}

h2,
a[id] {
  scroll-margin-top: 80px;
}

p {
  margin: auto 3%;
  margin-bottom: 1.5em;
  font-family: "Pontano Sans", sans-serif;
  font-size: 20px;
  color: #fff;
}

span {
  font-style: italic;
}

footer {
  width: 100%;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 15px;
  background-color: #99ff00;
  color: rgb(32, 31, 29);
  filter: invert(100%);
}

#statement h2 {
  margin-left: 60px;
}

@media screen and (max-width: 600px) {
  div.grid-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  div.grid-container {
    gap: 20px;
    padding: 0 5px;
  }

  nav a {
    margin-right: 5px;
  }

  div#intro {
    padding: 0 5px;
  }

  div.box {
    padding: 5px 0;
  }

  h1 {
    padding-top: 30%;
    font-size: 2em;
  }

  h2,
  a[id] {
    scroll-margin-top: 120px;
  }

}

@media screen and (min-width: 1440px) {
  div#intro p {
    text-align: center;
  }
}


/********* Light mode **********/

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #333333;
  }

  .background::before {
    background-image: url(https://www.restonconcierge.com/wp-content/uploads/2016/07/free-office-wallpaper-26001-26685-hd-wallpapers.jpg);
    opacity: 0.25
  }

  nav {
    background-color: #bdd8f1;
    color: #3667a6;
    filter: invert(0%);
  }

  a:link {
    color: #12315a
  }

  a:visited {
    color: #6c88c0;
  }

  h1,
  h2,
  p {
    color: #2a4d69;
  }

  div {
    color: #757973ee;
  }

  div#intro {
    all: revert;
  }

  div#intro p {
    color: #000;
  }

  div#author {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: unset;
  }

  div#author::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: linear-gradient(to right,
        rgba(224, 231, 240, 0.9) 0%,
        rgba(222, 231, 241, 0.8) 25%,
        rgba(224, 231, 240, 0.9) 50%,
        rgba(222, 231, 241, 0.8) 75%,
        rgba(224, 231, 240, 0.9) 100%);

    box-shadow: 0 0 1em 0.5em rgba(224, 231, 240, 0.6) inset;
  }

  div.box {
    background-color: #eeeeee;
    border-color: #333;
  }

  footer {
    background-color: #bdd8f1;
    filter: invert(0%);
  }

  footer a {
    margin-right: 60px;
  }
}


/********* Form styling **********/

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Pontano Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
}

.form-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

form label,
form input,
form textarea {
  width: calc(100% - 16px);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

form input,
form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
}

form input#age {
  position: relative;
  width: 65px;
}

form textarea {
  height: 150px;
}

form button {
  width: calc(100% - 20px);
  padding: 10px 8px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  background-color: #99ff00;
  color: #000;
  filter: invert(100%);
}

form button:hover {
  background-color: #0056b3;
}

form h2 {
  margin-bottom: 8px;
  text-align: center;
  color: #333;
}

iframe {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Pontano Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
}