* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    }
    
    a {
    text-decoration: none;
    }
    
    a img {
    border: none;
    }
    
    button,
    a {
    cursor: pointer;
    color: inherit;
    }
    
    textarea {
    resize: none;
    }
    
    button,
    textarea,
    select {
    appearance: none !important;
    border-radius: 0;
    }
    
    /*End of CSS reset*/

    body {
        width: 100%;
		height: 100%;
        line-height: 1.6;
        color: #555753; 
        font-family: 'Russo One', sans-serif;
<<<<<<< HEAD
        background-image: url('../1767974.jpg');
        background-size: cover; 
        background-position: center; 
=======
        background-image: url('../1767974.jpg'); /* Adjust the path as necessary */
        background-size: cover; /* This will make sure your image covers the whole area */
        background-position: center; /* This centers the image */
>>>>>>> c663636f7047e271a78497eb42979946f7be5f69
        background-repeat: no-repeat;
    }

    .nav-list a {
        margin-right: 15px; 
        line-height: 1.2; 
        text-decoration: none; 
        color: #FF6600;
        font-weight: bold; 
    }

    .nav-list a:hover {
        color: #007bff; 
        text-decoration: underline; 
    }

    nav {
        background-color: #f8f9fa; 
        padding: 10px 0; 
        text-align: center; 
    }

    title {
        font-family: 'Russo One', sans-serif;
    }

    h1, h2 {
        margin: auto 3%;
        line-height: 1.25;
        font-family: 'Space Grotesk', sans-serif;
        color: #99FF00; 
    }

    h1 {
        margin-top: 0.5em; 
        margin-bottom: 1em; 
        line-height: 1.2; 
        letter-spacing: 1px; 
        font-family: 'Russo One', sans-serif;
        font-size: 2.5em; 
        text-align: center; 
    }

    p {
        margin: auto 3%;
        margin-bottom: 1.5em;
        font-family: 'Pontano Sans', sans-serif;
        color:#000;
    }

    footer {
        width: 100%;
        margin-top: 2em;
        border-top: 1px solid #ccc;
        padding-top: 1em;
        text-align: center;
    }
